main::before {
    content: "";
    background: url('../img/bg1.jpg')no-repeat center center/cover;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: .5;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 82vh;
    width: 100%;
    position: relative;
}

#tictactoe {
    display: grid;
    grid-template-columns: repeat(3, 15vh);
    grid-template-rows: repeat(3, 15vh);
    height: max-content;
    width: max-content;
    margin: auto;
    position: relative;
}

#line {
    border: 0px solid purple;
    width: 0vh;
    position: absolute;
    transform: translate(10.8rem, 10.8rem) rotate(0deg);
    transition: width 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.box {
    border: 2px solid black;
}

.box:hover {
    background-color: rgba(221, 182, 243, 0.507);
    cursor: pointer;
}

#box-1:hover {
    border-top-left-radius: 50px;
}

#box-3:hover {
    border-top-right-radius: 50px;
}

#box-7:hover {
    border-bottom-left-radius: 50px;
}

#box-9:hover {
    border-bottom-right-radius: 50px;
}

.boxtext {
    font-family: 'Roboto', sans-serif;
    font-size: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 15vh;
}

.l {
    border-left: none !important;
}

.t {
    border-top: none !important;
}

.r {
    border-right: none !important;
}

.d {
    border-bottom: none !important;
}

#game-info {
    margin: auto 20px;
}

#score {
    min-height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#score .turninfo {
    font-size: 2rem;
    font-family: 'Playball', cursive;
}

#score #reset {
    font-size: 0.99rem;
    font-weight: 800;
    padding: 0.1rem .4rem;
    border-radius: 5px;
    cursor: pointer;
}

#imgbox {
    height: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

#imgbox img {
    height: 0;
    width: 0;
    transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}